.text-container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 30px;
    font-family: "Times New Roman", serif;
    font-size: 18px;
    color: #333333;
}

.text-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #222222;
}

.text-container span {
    display: block;
    margin-top: 20px;
}
